<div class="body">
<div class="container "> 
    <div class="row">
        <div class="col-6  rounded  cal">
            <img class="rounded-circle ml-4 profile-pic" src={{data.profilePic}} width="350px" height="350px">
            <div class="userName name">{{data.fname}}&nbsp;{{data.lname}}</div>
                        <div class="card-footer rounded font-weight-bold border-dark h4"><i class="icon ion-md-megaphone"></i>&nbsp;{{data.status}}</div>

        </div>
    </div>
</div>
</div>

<div class="container-fluid" >
    <div class="container mt-5 p-3">
         <div class="ml-2 p-2" style="background-color: rgb(135, 156, 42);">
    <b >Basic Profile Info.</b></div>
    <p class="ml-3 h5 p-2 profile font-italic"><span class="h4 font-weight-bold">Name:</span>&nbsp;{{data.fname}}&nbsp;{{data.lname}} <button class="btn btn-transparent" id="ename"><i class="icon ion-md-create"></i></button>&nbsp;<button class="btn btn-transparent" id="cname"><i class="icon ion-md-close"></i></button>
        <div id="name" class="ml-4 mr-4">
            <form action="/editName" method="POST">
        <div class="row">
                <div class="col">
                   <input type="text" class="form-control" placeholder="First name" name="fname" required>
           </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name" name="lname" required>
          </div>
          <button type="submit" class="btn btns text-light">Update</button>
      </div>
        </form>
        </div>
    </p>
        <p class="ml-3 h5 p-2 font-italic"><span class="h4 font-weight-bold">E-mail:</span>&nbsp;{{data.email}}<button class="btn btn-transparent" id="eml"><i class="icon ion-md-create"></i></button>&nbsp;<button class="btn btn-transparent" id="cmail"><i class="icon ion-md-close"></i></button>
        <div id="mail" class="ml-4 mr-4">
            <form action="/editMail" method="POST">
        <div class="row">
                <div class="col">
                   <input type="email" class="form-control" placeholder="E-mail" name="email" required>
           </div>
          <button type="submit" class="btn btns text-light">Update</button>
      </div>
        </form>
        </div>
    </p>
        <p class="ml-3 h5 p-2 profile font-italic"><span class="h4 font-weight-bold">Date of Birth:</span>&nbsp;{{data.dob}}<button class="btn btn-transparent" id="edob"><i class="icon ion-md-create"></i></button>&nbsp;<button class="btn btn-transparent" id="cdob"><i class="icon ion-md-close"></i></button>
        <div id="dob" class="ml-4 mr-4">
            <form action="/editDob" method="POST">
        <div class="row">
                <div class="col">
                   <input type="date" class="form-control"  name="dob" required>
           </div>
          <button type="submit" class="btn btns text-light">Update</button>
      </div>
        </form>
        </div>
    </p>
            <p class="ml-3 h5 p-2 profile font-italic"><span class="h4 font-weight-bold">Gender:</span>&nbsp;{{data.gender}}<button class="btn btn-transparent" id="egen"><i class="icon ion-md-create"></i></button>&nbsp;<button class="btn btn-transparent" id="csex"><i class="icon ion-md-close"></i></button>
        <div id="gender" class="ml-4 mr-4">
            <form action="/editSex" method="POST">
        <div class="row">
                <div class="col">
                    <input type="radio" name="gender" value="male" required> Male<br>  
                    <input type="radio" name="gender" value="female" required> Female<br>
           </div>
          <button type="submit" class="btn btns text-light" style="max-height: 40px;">Update</button>
      </div>
        </form>
        </div>
    </p>

    <p class="ml-3 h5 p-2 profile font-italic"><span class="h4 font-weight-bold">Weight:</span>&nbsp;{{data.weight}}&nbsp;kg&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="h4 font-weight-bold">Height:</span>&nbsp;{{data.height}}&nbsp;m <button class="btn btn-transparent" id="ewh"><i class="icon ion-md-create"></i></button>&nbsp;<button class="btn btn-transparent" id="cwh"><i class="icon ion-md-close"></i></button>
        <div id="wh" class="ml-4 mr-4">
            <form action="/editWh" method="POST">
        <div class="row">
                <div class="col">
                   <input type="number" class="form-control" placeholder="Weight(kg)"  data-unit-system="kg"  name="weight" required>
           </div>
              <div class="col">
                <input type="number" class="form-control" placeholder="Height" step="0.01" min="0" max="10" data-unit-system="m" name="Height" required>
          </div>
          <button type="submit" class="btn btns text-light">Update</button>
      </div>
        </form>
        </div>
    </p>
        <p class="ml-3 h5 p-2 font-italic text-capitalize"><span class="h4 font-weight-bold">My Status:</span>&nbsp;{{data.status}}<button class="btn btn-transparent" id="estat"><i class="icon ion-md-create"></i></button>&nbsp;<button class="btn btn-transparent" id="cstat"><i class="icon ion-md-close"></i></button>
        <div id="status" class="ml-4 mr-4">
            <form action="/editStatus" method="POST">
        <div class="row">
                <div class="col">
                    <textarea class="form-control" rows="3" id="comment" placeholder="What's your status!" name="status"></textarea>
           </div>
          <button type="submit" class="btn btns text-light" style="max-height: 40px;">Update</button>
      </div>
        </form>
        </div>
    </p>

    </div>
    
</div>